aniso8601==9.0.1
astroid==2.5.3
attrs==20.3.0
chardet==4.0.0
click==7.1.2
dnspython==2.1.0
email-validator==1.1.2
Flask==1.1.2
Flask-Admin==1.5.7
flask-mongoengine==1.0.0
flask-restx==0.3.0
Flask-WTF==0.14.3
idna==2.10
isort==5.8.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
lazy-object-proxy==1.6.0
MarkupSafe==1.1.1
mccabe==0.6.1
mongoengine==0.23.0
pylint==2.7.4
pymongo==3.11.3
pyrsistent==0.17.3
pytz==2021.1
requests==2.25.1
six==1.15.0
toml==0.10.2
urllib3==1.26.4
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
uWSGI==2.0.19.1
