{% extends 'admin/master.html' %}
{% block body %}
<div class="container">
  <h2>Debug Host</h2>
  <form mehtod=GET>
    <div class="form-group">
      <label for="hostname">Hostname</label>
      <input name="hostname" class="form-control" id="hostname" aria-describedby="hostnameHelp" placeholder="Hostname" value={{hostname}}>
      <small id="hostnameHelp" class="form-text text-muted">Enter the Hostname for which you want to see the rule analysis</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  {% if output is mapping%}
  <br>


<h2>Export Rules</h2>
  <div id="accordion-1">
   <p>
    {% for rule_name in rules.keys() %}
     <a class="btn btn-info" data-toggle="collapse" href="#rule_{{rule_name}}" role="button" aria-expanded="false" aria-controls="rule_{{rule_name}}">{{rule_name.capitalize()}}</a>
   {% endfor %}
   </p>

    {% for rule_name, rule_raw in rules.items() %}
    <div class="card">
    <div class="card-header">
    Rule: {{ rule_name.capitalize() }}
    </div>
    <div class="card-body collapse" id="rule_{{rule_name}}" data-parent="#accordion-1">
    <table class="table table-bordered">
      <thead>
         <tr>
           <th scope="col" style="width:300px">Rule Name</th>
	   <th scope="col">Hit</th>
	   <th scope="col">Condition Type</th>
	   <th scope="col">Last Match</th>
      </tr>
      </thead>
      <tbody>
      {% for rule in rule_raw %}
         <tr {% if rule['hit'] %} class="table-success" {%endif%}>
           <td><a href="{{rule['rule_url']}}">{{rule['name']}}</a></td>
           <td>{{rule['hit']}}</td>
           <td>{{rule['condition_type']}}</td>
           <td>{{rule['last_match']}}</td>
         </tr>
	 {% endfor %}
      </tbody>
    </table>
    </div>
    </div>
  {% endfor %}
  </div>
<h2>Attributes</h2>
<div id="accordion-2">
<p>
    {% for header in output.keys() %}
     <a class="btn btn-info" data-toggle="collapse" href="#rule_{{header.replace(' ',"_")}}" role="button" aria-expanded="true" aria-controls="rule_{{header.replace(' ', "_")}}">{{header.capitalize()}}</a>
   {% endfor %}
 </p>

  {% for header, content in output.items() %}
    <div class="card">
    <div class="card-header">
    {{ header }}
    </div>
    <div class="card-body collapse" id="rule_{{header.replace(' ', "_")}}" data-parent="#accordion-2">
    {%if content is mapping %}
    <table class="table table-bordered">
      <thead>
	<tr>
	  <th scope="col" style="width:300px">Attribute Name</th>
	  <th scope="col">Attribute Content</th>
	</tr>
      </thead>
      <tbody>
      {% for attr, attr_name in content.items() %}
	<tr>
	  <td>{{attr}}</td>
	  <td>{{attr_name}}</td>
	</tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    {{ content }}
    {% endif %}
    </div>
    </div>
  {% endfor %}
 </div>
 {% else %}
 {{output}}
  {% endif %}

   </div>
{% endblock %}
