{% extends admin_base_template %}
{% block head_css %}
    {{ super() }}
    <style>
        body {
            padding-top: 0px;
        }
        .container {
            width: 100% !important;
            max-width: 100%;
        }

        .icon-minus-sign {
            color: red;
        }
        .icon-ok-circle {
            color: green;
        }

       .navbar {
           background-color: {{ config['STYLE_NAV_BACKGROUND_COLOR'] }} !important;
       }

       .navbar .nav-link {
           color: {{ config['STYLE_NAV_LINK_COLOR'] }} !important;
       }
    </style>
{% endblock %}

{% block page_body %}
    <div class="container{% if config.get('FLASK_ADMIN_FLUID_LAYOUT', False) %}-fluid{% endif %}">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#admin-navbar-collapse"
                    aria-controls="admin-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- navbar content -->
            <div class="collapse navbar-collapse" id="admin-navbar-collapse">
            {% block brand %}
                <a class="navbar-brand" href="{{ config['BASE_PREFIX'] }}admin">{{ admin_view.admin.name }}</a>
            {% endblock %}
            {% block main_menu %}
                <ul class="nav navbar-nav mr-auto">
                    {{ layout.menu() }}
                </ul>
            {% endblock %}

                {% block menu_links %}
                <ul class="nav navbar-nav navbar-right">
                    {{ layout.menu_links() }}
                </ul>
                {% endblock %}
            {% block access_control %}
            {% endblock %}
            </div>
        </nav>

        {% block messages %}
            {{ layout.messages() }}
        {% endblock %}

        {# store the jinja2 context for form_rules rendering logic #}
        {% set render_ctx = h.resolve_ctx() %}

        {% block body %}{% endblock %}
    </div>

    <div id="activate_changes" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Activate Changes running</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="activate_result"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block tail %}
    {{ super() }}
    <script type="text/javascript">
    $( document ).ready(function() {
        $("a#enabled>span.icon-minus-sign").parents('tr').css("background-color", "#f0f0f0").css("color", "grey");

        $('.toggle_activate_modal').click(function(){
            $("#activate_result").html("Activation Started");
            $('#activate_changes').modal();
            $.get("{{config['BASE_PREFIX']}}admin/config/commit_changes", function(data) {
                $("#activate_result").html(data);
                setTimeout(function() {
                    $('#activate_changes').modal('hide');
                }, 1000);

            })
        });
    });



    </script>
{% endblock %}
