---
   - name: Create Folder to store Webserver Certificates
     ansible.builtin.file:
        path: /etc/ssl/checkmk
        owner: root
        group: root
        state: directory
        mode: 0755
     when: webserver_certificate is defined

   - name: Copy Webserver Certificate
     ansible.builtin.copy:
        src: "{{ webserver_certificate }}"
        dest: /etc/ssl/checkmk/certificate.pem
        follow: true
        mode: "0755"
        owner: root
        group: root
     when: webserver_certificate is defined

   - name: Copy Private Certificate
     ansible.builtin.copy:
        src: "{{ webserver_private_certificate }}"
        dest: /etc/ssl/checkmk/private.pem
        follow: true
        mode: "0755"
        owner: root
        group: root
     when: webserver_private_certificate is defined
