---
   - name: Create Folder to store Webserver Certificates
     file:
        path: /etc/ssl/checkmk
        owner: root
        group: www-data
        state: directory
        mode: 0755
     when: webserver_certificate is defined
 
   - name: Copy Webserver Certificate
     copy: "src={{ webserver_certificate }} dest=/etc/ssl/checkmk/certificate.pem follow=yes mode=0755"
     when: webserver_certificate is defined

   - name: Copy Private Certificate
     copy: "src={{ webserver_private_certificate }} dest=/etc/ssl/checkmk/certificate.pem follow=yes mode=0755"
     when: webserver_private_certificate is defined