---
   - name: Create Folder to store Webserver Certificates
     ansible.builtin.file:
        path: /etc/ssl/checkmk
        owner: root
        group: root
        state: directory
        mode: 0755
     when: webserver_certificate is defined

   - name: Copy Webserver Certificate
     ansible.builtin.copy:
        src: "{{ webserver_certificate }}"
        dest: /etc/ssl/checkmk/certificate.pem
        follow: true
        mode: "0755"
        owner: root
        group: root
     when: webserver_certificate is defined

   - name: Copy Private Certificate
     ansible.builtin.copy:
        src: "{{ webserver_private_certificate }}"
        dest: /etc/ssl/checkmk/private.pem
        follow: true
        mode: "0755"
        owner: root
        group: root
     when: webserver_private_certificate is defined


   - name: Update SSL Paths in ssl.conf
     ansible.builtin.lineinfile:
       path: /etc/httpd/conf.d/ssl.conf
       regexp: "{{ item.regexp }}"
       line: "{{ item.line }}"
       backup: yes
     loop:
       - { regexp: '^\s*SSLCertificateFile\b',        line: 'SSLCertificateFile /etc/ssl/checkmk/certifcate.pem' }
       - { regexp: '^\s*SSLCertificateKeyFile\b',     line: 'SSLCertificateKeyFile /etc/ssl/checkmk/privkey.pem' }
       #- { regexp: '^\s*SSLCertificateChainFile\b',   line: 'SSLCertificateChainFile /NEU/chain.pem' }
     notify: reload httpd
     handlers:

  - name: reload httpd
    ansible.builtin.service:
      name: httpd
      state: reloaded
